<div class="countainer p-5">
  <h1>Cadastro de tipo de contato</h1>
  <form [formGroup]="typesFormGroup">
    <div class="form-floating mb-3">
      <input type="text"
             class="form-control"
             id="name"
             formControlName="name"
             placeholder="">
      <label for="name" class="form-label">Nome do tipo</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="save()">
      Add.
    </button>
  </form>
  <h1 class="mt-5">Lista de tipos</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let type of types">
          <td>{{type.id}}</td>
          <td>{{type.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
