<div class="countainer p-5">
  <h1>Cadastro de Contatos</h1>
  <form [formGroup]="contactsFormGroup">
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input type="text"
             class="form-control"
             id="name"
             formControlName="name">
    </div>
    <div class="mb-3">
      <label for="telephone" class="form-label">Telefone</label>
      <input type="tel"
             class="form-control"
             id="telephone"
             formControlName="telephone">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email"
             class="form-control"
             id="email"
             formControlName="email">
    </div>
    <div class="form-check">
      <input class="form-check-input"
             type="checkbox"
             id="favorite"
             formControlName="favorite">
      <label class="form-check-label" for="favorite">
        Favorito
      </label>
    </div>
    <div class="mb-3">
      <label for="type">Tipo de Contato</label>
      <select class="form-select"
              aria-label="Default select example"
              id="type"
              formControlName="typeId">
        <option *ngFor="let type of types" [ngValue]="type.id">{{type.name}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" (click)="save()">
      Add.
    </button>
  </form>
  <h1 class="mt-5">Lista de contatos</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Email</th>
          <th scope="col">Favorito</th>
          <th scope="col">Tipo</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{contact.id}}</td>
          <td>{{contact.name}}</td>
          <td>{{contact.telephone}}</td>
          <td>{{contact.email}}</td>
          <td>
            <div *ngIf="contact.favorite">
              <span class="badge text-bg-success">Sim</span>
            </div>
            <div *ngIf="!contact.favorite">
              <span class="badge text-bg-danger">Não</span>
            </div>
          </td>
          <td>{{getType(contact)?.name}}</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-danger" (click)="remove(contact)">Remover</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

